Source: cinnamon-translations
Section: localization
Priority: optional
Maintainer: Maximiliano Curia <maxy@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: cinnamon-translations
Architecture: all
Description: Translation files for the Cinnamon desktop
 Translation files for the Cinnamon desktop.
